{% from '_formhelpers.html' import render_field %}
{% extends 'base.html' %}

{% block content %}
<div class="posting-area">
  <form method="POST" class="form-post">
    <dl>
      {{ form.csrf_token }}
      {{ render_field(form.author, value=current_user.username) }}
      {{ render_field(form.content, class="form-control", placeholder='コメント') }}
      {{ render_field(form.comment_id, value=post_id) }}
      {{ form.submit(class="btn btn-primary") }}
    </dl>
  </form>
</div>
{% endblock content %}